---
http_interactions:
- request:
    method: post
    uri: https://accounts.google.com/o/oauth2/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=XXXXXXXXXXX&client_id=XXXXXXX.apps.googleusercontent.com&client_secret=XXXXXXXXXXX
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - attachment; filename="json.txt"; filename*=UTF-8''json.txt
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token" : "XXXXXXXXXXXXXX",
          "token_type" : "Bearer",
          "expires_in" : 3600
        }
  recorded_at: Sat, 02 Apr 2016 20:12:14 GMT
- request:
    method: get
    uri: https://www.googleapis.com/discovery/v1/apis/drive/v2/rest
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"bRFOOrZKfO9LweMbPqu0kcu6De8/hz7QwAZacK_jkUU4Gqfwxx-djO4"'
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "discovery#restDescription",
         "etag": "\"bRFOOrZKfO9LweMbPqu0kcu6De8/hz7QwAZacK_jkUU4Gqfwxx-djO4\"",
         "discoveryVersion": "v1",
         "id": "drive:v2",
         "name": "drive",
         "version": "v2",
         "revision": "20160328",
         "title": "Drive API",
         "description": "The API to interact with Drive.",
         "ownerDomain": "google.com",
         "ownerName": "Google",
         "icons": {
          "x16": "https://ssl.gstatic.com/docs/doclist/images/drive_icon_16.png",
          "x32": "https://ssl.gstatic.com/docs/doclist/images/drive_icon_32.png"
         },
         "documentationLink": "https://developers.google.com/drive/",
         "protocol": "rest",
         "baseUrl": "https://www.googleapis.com/drive/v2/",
         "basePath": "/drive/v2/",
         "rootUrl": "https://www.googleapis.com/",
         "servicePath": "drive/v2/",
         "batchPath": "batch",
         "parameters": {
          "alt": {
           "type": "string",
           "description": "Data format for the response.",
           "default": "json",
           "enum": [
            "json"
           ],
           "enumDescriptions": [
            "Responses with Content-Type of application/json"
           ],
           "location": "query"
          },
          "fields": {
           "type": "string",
           "description": "Selector specifying which fields to include in a partial response.",
           "location": "query"
          },
          "key": {
           "type": "string",
           "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
           "location": "query"
          },
          "oauth_token": {
           "type": "string",
           "description": "OAuth 2.0 token for the current user.",
           "location": "query"
          },
          "prettyPrint": {
           "type": "boolean",
           "description": "Returns response with indentations and line breaks.",
           "default": "true",
           "location": "query"
          },
          "quotaUser": {
           "type": "string",
           "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
           "location": "query"
          },
          "userIp": {
           "type": "string",
           "description": "IP address of the site where the request originates. Use this if you want to enforce per-user limits.",
           "location": "query"
          }
         },
         "auth": {
          "oauth2": {
           "scopes": {
            "https://www.googleapis.com/auth/drive": {
             "description": "View and manage the files in your Google Drive"
            },
            "https://www.googleapis.com/auth/drive.appdata": {
             "description": "View and manage its own configuration data in your Google Drive"
            },
            "https://www.googleapis.com/auth/drive.apps.readonly": {
             "description": "View your Google Drive apps"
            },
            "https://www.googleapis.[...]
- request:
    method: get
    uri: https://www.googleapis.com/drive/v2/files/1q_osxWn9NymftT-oELAgwEvH4j-pIOZ_tI01wStEtTo
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - ''
      Authorization:
      - Bearer ya29..uAIF8entk8GRxhr2_4EuJAdt_MKEAyDt9c46V_G06-3M49vge3zGexjBr5msLD6_Zg
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"rCKCAyesbPCaBxGt0eDJcEBQNUI/MTQ1OTYyNzM5NTAwOA"'
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        H4sIAAAAAAAAAL1WW08iSxB+91cQNvFpYW4Mt4S4IBwXVy7qqEfPbkxDN9Dr
        zPRsVw/DuPG/n+6eQRHcrOaclRi[...]
- request:
    method: get
    uri: https://spreadsheets.google.com/feeds/worksheets/1q_osxWn9NymftT-oELAgwEvH4j-pIOZ_tI01wStEtTo/private/full
    body:
      encoding: UTF-8
      string: ''
    headers:
      Gdata-Version:
      - '3.0'
      Content-Type:
      - ''
      Authorization:
      - Bearer ya29..uAIF8entk8GRxhr2_4EuJAdt_MKEAyDt9c46V_G06-3M49vge3zGexjBr5msLD6_Zg
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/atom+xml; charset=UTF-8; type=feed
      Gdata-Version:
      - '3.0'
      Etag:
      - W/"DUQNRXY7fSt7ImA9XRNaFk8."
      Last-Modified:
      - Sat, 02 Apr 2016 20:03:14 GMT
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        H4sIAAAAAAAAAOycb3OaShTGv4oznakv7kQWkH+W2GusJk7TpFVj0rzpUFiV
        iixlV9F8+otu42rvxBvCrdllfJWRhd3n4Rz2F5YD9vvFNCjNYYx9FJ6W5Qoo
        l2DoIs8PR6flm377xCy/r9tDCL1SumeIT8tjQqKaJCVJUknUCopHkgKAJjUI
        mpbpPjUUwbAHndgdb3Z3rIqLptKJhCPoSqsd8HoHSa7I0uNxI9Y9dsdw6uDK
        CKFRANfH4iiGjofHEBK8GlPfHObtO4zqK5dGXg0SJ3V1K739OUPk3YebL1fd
        u6/[...]
- request:
    method: get
    uri: https://spreadsheets.google.com/feeds/cells/1q_osxWn9NymftT-oELAgwEvH4j-pIOZ_tI01wStEtTo/od6/private/full
    body:
      encoding: UTF-8
      string: ''
    headers:
      Gdata-Version:
      - '3.0'
      Content-Type:
      - ''
      Authorization:
      - Bearer ya29..uAIF8entk8GRxhr2_4EuJAdt_MKEAyDt9c46V_G06-3M49vge3zGexjBr5msLD6_Zg
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/atom+xml; [...]
